body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.logo a {
    text-decoration: none;
    color: #03517a;
} 
.logo img {
    width: 100px;
}
.logo a:hover {
    color:rgb(238, 50, 50);
}
.navbar {
    height: 86px;
    background: #006491;
    align-items: center;
}
.navlist {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li {
    list-style: none;
    padding: 28px;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
#cart-info{
    font-size: 24px;
}
.cart {
    position: absolute;
    min-height: 10rem;
    background: var(--mainwhite);
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.5);
    width: 0;
    overflow: hidden;
}
.show-cart {
    width: 18rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
}
.cart-item {
    transition: all 2s ease-in-out;
}
.navbar li:hover {
    background-color:rgb(238, 50, 50);
    cursor: pointer;
}

.events {
    text-align: center;
}

.menu {
    border: 1px solid black;
    display: flex;
    margin: 30px;
    justify-content: center;
}
.menulist {
    display: flex;
}

.menuone {
    border: 1px solid black;
    width: 300px;
    height: 530px;
    margin:30px;
    padding: 10px;
    text-align: center;
}
.btn {
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    color: white;
    background-color: #006491;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(238, 50, 50);
}
.main {
    margin-left: 500px;
}
.pro {
    text-align: center;
    width: 500px;
}
.promo {
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 2;
    grid-gap: 10px;
    padding: 10px;
    width: 920px;
    border: 1px solid black;
}
.promoone {
    grid-column: 1;
    grid-row: 1;
}
.promotwo {
    grid-column: 2;
    grid-row: ;
}
.promoth {
    grid-column: 2;
    grid-row: 2;
}
/* footer */
.footer {
    background-color: #006491;
    color: white;
    width: 100%;
    height: 250px;
    bottom: 0;
}
.footer-content {
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: white;
}
.socials a:hover {
    color: #03517a;
}
